<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.seleniumAjio.library.MyExtentListener" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.seleniumAjioTests.ArrivalsTest"/>
       <class name="com.seleniumAjioTests.HomeandKitchenTest"/>
        <class name="com.seleniumAjioTests.IndiesTest"/>
         <class name="com.seleniumAjioTests.MenTest"/>
          <class name="com.seleniumAjioTests.ReturnTest"/>
           <class name="com.seleniumAjioTests.SearchTest"/>
            <class name="com.seleniumAjioTests.SignupTest"/>
          
             
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
