<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  
      <class name="com.appium.Scripts.AjioAccountScript"/>
      <class name="com.appium.Scripts.AjioBagScript"/>
      <class name="com.appium.Scripts.AjioSearchProductScript"/>
      <class name="com.appium.Scripts.AjioStoresScript"/>
      <class name="com.appium.Scripts.AjioWishlistScript"/>
      <class name="com.appium.Scripts.AjioKidsScript"/>
      <class name="com.appium.Scripts.AjioHomeScript"/>
      
      
     
    
     </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
